<% if @aircraft_carrier_coordinate != '' && @aircraft_carrier_coordinate &&  @aircraft_carrier_direction != '' && @aircraft_carrier_direction %>
  <% $game.player_1.place_ship Ship.aircraft_carrier, @aircraft_carrier_coordinate, @aircraft_carrier_direction %>
  You placed your aircraft carrier
  <a href="/firing">now you can fire!</a>

<% else %>
  <%=$player1%> here is your board:
  <pre> <%= $game.own_board_view $game.player_1 %> <pre>

  <form action="/aircraft_carrier">
    AIRCRAFT CARRIER:
    Enter your aircraft carrier coordinate (i.e. A1)
    <input type="text" name="aircraft_carrier_coordinate">
    Enter your aircraft carrier direction (i.e. vertically)
    <input type="text" name="aircraft_carrier_direction">

    <input type="submit" value="Submit">
  </form>
<% end %>