<% if @battleship_coordinate != '' && @battleship_coordinate &&  @battleship_direction != '' && @battleship_direction %>
  <% $game.player_1.place_ship Ship.battleship, @battleship_coordinate, @battleship_direction %>
  You placed your battleship
  <a href="/aircraft_carrier">now place your aircraft carrier</a>

<% else %>
  <%=$player1%> here is your board:
  <pre> <%= $game.own_board_view $game.player_1 %> <pre>

  <form action="/battleship">
    BATTLESHIP:
    Enter your battleship coordinate (i.e. A1)
    <input type="text" name="battleship_coordinate">
    Enter your battleship direction (i.e. vertically)
    <input type="text" name="battleship_direction">

    <input type="submit" value="Submit">
  </form>
<% end %>