Hello <%= $player1 %>, Welcome to Battleships!
Here is your board:

<pre> <%= $game.own_board_view $game.player_1 %> <pre>

<% if @guess != '' && @guess %>
  Your guess is <%= @guess %>
<% else %>
  <form action="/board">
    Enter a guess:
    <input type="text" name="guess">
    <input type="submit" value="Submit">
  </form>
<% end %>
