<% if $player1 != '' && $player1 %>
  <a href="/board"> Start your game </a>
<% else %>
  <form action="/name">
    Player 1 what's your name?
    <input type="text" name="player1">
    <input type="submit" value="Submit">
  </form>
<% end %>
