Hello <%= $player1 %>, <br />

Here is your board:

<pre> <%= $game.own_board_view $game.player_1 %> <pre>

<b>Place a ship:</b>

<form action="/placeships">
Ship type:                      <select name="Ship">
    <option value="submarine">submarine</option>
    <option value="destroyer">destroyer</option>
    <option value="cruiser">cruiser</option>
    <option value="battleship">battleship</option>
    <option value="aircraft_carrier">aircraft_carrier</option>
  </select>
Location (i.e. A1):             <input type="text" name="location">
Direction (i.e. horizontally):  <input type="text" name="direction">
  <input type="submit" value="Submit">
</form>
